html{
    background-image: linear-gradient(rgba(2,0,36,1) 0%, rgba(88,45,107,1) 76%, rgb(7, 49, 57) 100%);
    color:rgb(209, 45, 196)
}
header p{
    color:white;
}
header{
    text-align: center;
}
section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

}
article{
    
    
    padding: 1%;
    margin:1%;
    width:25%;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='white' stroke-width='6' stroke-dasharray='6%2c 14' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
 
}

h2:hover {
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0 5px 15px rgba(145, 92, 182, .4);
  }

.sentence{
  display:flex;

}
section:hover{
    transition: all ease-in-out 0.5s;
}
img{
    display:flex;
    flex-shrink: 5%;
    border-radius: 2%;
    width:100%
}
.card-header{
    position:relative;
    margin-top: -20px;
    border: 2px solid white;
    border-radius: 5px;
    text-align: center;
    z-index: 1;
    background-color: rgb(52, 30, 74);
    transition: all ease-in-out 0.5s;
    

}
img:hover{
    animation: pulse 0.5s ease-in infinite;
  }
@keyframes pulse{
    25%  {transform: scale(0.9);}
    75%  {transform: scale(1.1);}
  }



footer{
    text-align: center;
}

@media (max-width: 576px) {
    section{
        display:flex;
        flex: 0 0 33%;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
    }
}
h2 pre:active{
    user-select: all;
}

@media (max-width: 768px) { 
    section{
        display:flex;
       flex: 1 1 33%;
        align-content: center;
        width:120%;
    }
  img{
    width:100%;
  }
 }